@import "tailwindcss";

:root {
  --background: #fcfaf8;
  --background-secondary: #f3eee7;
  --foreground: #1b150e;
  --primary: #e89830;
  --secondary: #97784e;
  --error: #D71548;
  --text-primary: #1b150e;
  --text-secondary: #4a5565;
  --hover-primary: #d48a28;
  --hover: #e5e7eb;
  --accent: #96C346;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-error: var(--error);
  --color-accent: var(--accent);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-hover: var(--hover);
  --color-hover-primary: var(--hover-primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: var(--color-hover-primary);
}

.btn-secondary {
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  border: none;
}

.btn-secondary:hover {
  background-color: var(--color-hover)
}

.btn-secondary:disabled {
  opacity: 0.5;
}

.btn-secondary:disabled:hover {
  cursor: not-allowed !important;
  background-color: unset !important;
}

.btn-error {
  color: var(--color-error);
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}